.btn{
    padding:12px 22px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.btn-primary{
    background:#006FCF;
    color:white;
}

.btn-primary:hover{
    background:#0059a8;
}

.btn-secondary{
    background:#e8eef6;
    color:#002663;
}

.btn-danger{
    background:#d9534f;
    color:white;
}

.btn-full{
    width:100%;
}