.loader{

    width:45px;

    height:45px;

    border:5px solid #ddd;

    border-top:5px solid #006FCF;

    border-radius:50%;

    animation:spin .8s linear infinite;

}

@keyframes spin{

    to{

        transform:rotate(360deg);

    }

}