.item-list{

    background:white;

    border-radius:12px;

    padding:20px;

    box-shadow:0 4px 12px rgba(0,0,0,.08);

}

.item-list table{

    width:100%;

    border-collapse:collapse;

    margin-top:20px;

}

.item-list td,
.item-list th{

    padding:12px;

    border-bottom:1px solid #eee;

}